*.d
*.o
*.html
doc/*.h
doc/public_html/
src/.check_process_vm.res
src/.check_seccomp_filter.res
src/build.h
src/care
src/loader/loader
src/loader/loader-m32
src/proot
src/proot.py
src/proot_wrap.c
tests/*
!tests/*.sh.*
!tests/*.sh
!tests/*.c
!tests/*.py
!tests/*.mk
