*.d
*.gcda
*.gcno
*.html
*.info
*.o
doc/*.h
doc/public_html/
public/
src/.check_process_vm.res
src/.check_seccomp_filter.res
src/build.h
src/care*
src/loader*
src/proot*
tests/*
!tests/*.sh.*
!tests/*.sh
!tests/*.c
!tests/*.py
!tests/*.mk
doc/proot/man.1
doc/proot/rpm-spec
src/cli/care.h
src/cli/cli.h
src/cli/proot.h
