* {
    padding: 0;
    margin: 0;

    color: #333333;
    line-height: 1.5em;

    font-family: sans;
}

html {
    background-color: #dddddd;
}

body {
    background-color: white;
    color: #444;
    font-size: 18px;
    line-height: 1.6;
    margin: 40px auto; 
    max-width: 725px;
    padding:0 10px;
}

#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1, h2, h3 {
    line-height: 1.2;
}

h1 {
    text-align: center;
    font-size: 3em;
    display: inline;
}

h2 {
    margin: 1em;
    margin-bottom: 0.5em;

    border-bottom: 1px dotted gray;
}

h3 {
    margin-left: 1em;
    margin-top: 1em;
}

h3 tt {
    font-style: italic;
}

#contents {
    text-align: center;

    background-color: gray;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

    margin-right: -1px;
    border-right: 1px solid gray;
    margin-left: -1px;
    border-left: 1px solid gray;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#contents ul {
    list-style-type: none;
    margin: 0;
}

#contents li {
    display: inline;
    padding: 10px;
    white-space: nowrap;
}

#contents a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: none;
}

#contents a:hover {
    border-bottom: 2px solid black;
}

a {
    text-decoration: none;
    border-bottom: 1px solid black;
}

p {
    text-align: justify;

    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

ol {
    margin-left: 5em;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

li {
    margin-bottom: 0.5em;
}

table {
    margin-left: 2em;
    margin-right: 2em;
}

pre {
    background-color: black;
    color: white;
    font-family: monospace;
    margin: 2em ;
    margin-top: 0.5em ;
    margin-bottom: 1em ;
    padding: 0.5em;
    white-space: pre-wrap;
}

tt {
    font-family: monospace;
}

ul {
    margin-left: 3em;
}

li p, li pre {
    margin-left: 0;
}

@media print {
    * {
        background-color: transparent ! important;
        border: none ! important;
    }
}
