* {
    padding: 0;
    margin: 0;

    color: #333333;
    line-height: 1.5em;

    font-family: sans;
}

html {
    background-color: #dddddd;
}

body {
    background-color: white;

    border: 1px solid #dddddd;
    border-radius: 1em;
    -moz-border-radius: 1em;

    max-width: 50em;
    min-width: 25em;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    -moz-box-shadow: 0 0 1.5em 0.5em #333333;
    -webkit-box-shadow: 0 0 1.5em 0.5em #333333;
    box-shadow: 0 0 1.5em 0.5em #333333;
}

#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: 2px 3px 3px #333333;
    font-size: 3em;
    display: inline;
}

h2 {
    margin: 1em;
    margin-bottom: 0.5em;

    border-bottom: 1px dotted gray;
}

h3 {
    margin-left: 1em;
    margin-top: 1em;
}

h3 tt {
    font-style: italic;
}

#contents {
    text-align: center;

    background-color: gray;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

    margin-right: -1px;
    border-right: 1px solid gray;
    margin-left: -1px;
    border-left: 1px solid gray;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#contents ul {
    margin: 0;
}

#contents li {
    display: inline;

    margin-left: 3%;
    margin-right: 3%;
}

#contents a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: none;
}

#contents a:hover {
    border-bottom: 2px solid black;
}

a {
    text-decoration: none;
    border-bottom: 1px solid black;
}

p {
    text-align: justify;

    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

ol {
    margin-left: 5em;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

li {
    margin-bottom: 0.5em;
}

table {
    margin-left: 2em;
    margin-right: 2em;
}

pre {
    margin: 2em ;
    margin-top: 0.5em ;
    margin-bottom: 1em ;

    padding: 0.5em;

    background-color: #dddddd;
    color: black;

    font-family: monospace;

    white-space: pre-wrap;

    border-style: solid;
    border-width: 1px;
    border-color: gray;

    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

pre:first-line
{
    font-style: italic;
}

tt {
    font-family: monospace;
}

ul {
    margin-left: 3em;
}

li p, li pre {
    margin-left: 0;
}

@media print {
    * {
        background-color: transparent ! important;
        border: none ! important;
    }
}